<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.potato369.find.mbg.mapper.ApplicationRecordMapper">
    <resultMap id="BaseResultMap" type="com.potato369.find.mbg.model.ApplicationRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="dynamic_info_id" jdbcType="BIGINT" property="dynamicInfoId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="reserve_column01" jdbcType="VARCHAR" property="reserveColumn01"/>
        <result column="reserve_column02" jdbcType="VARCHAR" property="reserveColumn02"/>
        <result column="reserve_column03" jdbcType="VARCHAR" property="reserveColumn03"/>
        <result column="reserve_column04" jdbcType="VARCHAR" property="reserveColumn04"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, user_id, dynamic_info_id, create_time, reserve_column01, reserve_column02, reserve_column03,
    reserve_column04
    </sql>
    <select id="selectByExample" parameterType="com.potato369.find.mbg.model.ApplicationRecordExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from application_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from application_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectCountDataByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT COUNT(1)
        	FROM `application_record`
        		WHERE `user_id` = #{userId,jdbcType=BIGINT}
          			AND `create_time`<![CDATA[ >=]]> STR_TO_DATE(DATE_FORMAT(NOW(), '%Y-%m-%d'), '%Y-%m-%d %H:%i:%s')
          			AND `create_time`<![CDATA[ <=]]> DATE_ADD(DATE_ADD(STR_TO_DATE(DATE_FORMAT(NOW(), '%Y-%m-%d'), '%Y-%m-%d %H:%i:%s'), INTERVAL 1 DAY), INTERVAL -1 SECOND)
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from application_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.potato369.find.mbg.model.ApplicationRecordExample">
        delete from application_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.potato369.find.mbg.model.ApplicationRecord">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into application_record (user_id, dynamic_info_id, create_time,
        reserve_column01, reserve_column02, reserve_column03,
        reserve_column04)
        values (#{userId,jdbcType=BIGINT}, #{dynamicInfoId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
        #{reserveColumn01,jdbcType=VARCHAR}, #{reserveColumn02,jdbcType=VARCHAR}, #{reserveColumn03,jdbcType=VARCHAR},
        #{reserveColumn04,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.potato369.find.mbg.model.ApplicationRecord">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into application_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="dynamicInfoId != null">
                dynamic_info_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="reserveColumn01 != null">
                reserve_column01,
            </if>
            <if test="reserveColumn02 != null">
                reserve_column02,
            </if>
            <if test="reserveColumn03 != null">
                reserve_column03,
            </if>
            <if test="reserveColumn04 != null">
                reserve_column04,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="dynamicInfoId != null">
                #{dynamicInfoId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reserveColumn01 != null">
                #{reserveColumn01,jdbcType=VARCHAR},
            </if>
            <if test="reserveColumn02 != null">
                #{reserveColumn02,jdbcType=VARCHAR},
            </if>
            <if test="reserveColumn03 != null">
                #{reserveColumn03,jdbcType=VARCHAR},
            </if>
            <if test="reserveColumn04 != null">
                #{reserveColumn04,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.potato369.find.mbg.model.ApplicationRecordExample"
            resultType="java.lang.Long">
        select count(*) from application_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="countByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			`application_record`
		WHERE
			`user_id` = #{applicantUserId, jdbcType=BIGINT}
			AND `reserve_column01` = #{applicantsUserId, jdbcType=BIGINT}
			AND `create_time`<![CDATA[ >=]]>STR_TO_DATE( DATE_FORMAT(NOW(), '%Y-%m-%d'), '%Y-%m-%d %H:%i:%s') 
			AND `create_time`<![CDATA[ <=]]>DATE_ADD(DATE_ADD(STR_TO_DATE(DATE_FORMAT(NOW(), '%Y-%m-%d'), '%Y-%m-%d %H:%i:%s'), INTERVAL 1 DAY), INTERVAL - 1 SECOND)
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update application_record
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=BIGINT},
            </if>
            <if test="record.dynamicInfoId != null">
                dynamic_info_id = #{record.dynamicInfoId,jdbcType=BIGINT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.reserveColumn01 != null">
                reserve_column01 = #{record.reserveColumn01,jdbcType=VARCHAR},
            </if>
            <if test="record.reserveColumn02 != null">
                reserve_column02 = #{record.reserveColumn02,jdbcType=VARCHAR},
            </if>
            <if test="record.reserveColumn03 != null">
                reserve_column03 = #{record.reserveColumn03,jdbcType=VARCHAR},
            </if>
            <if test="record.reserveColumn04 != null">
                reserve_column04 = #{record.reserveColumn04,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update application_record
        set id = #{record.id,jdbcType=BIGINT},
        user_id = #{record.userId,jdbcType=BIGINT},
        dynamic_info_id = #{record.dynamicInfoId,jdbcType=BIGINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        reserve_column01 = #{record.reserveColumn01,jdbcType=VARCHAR},
        reserve_column02 = #{record.reserveColumn02,jdbcType=VARCHAR},
        reserve_column03 = #{record.reserveColumn03,jdbcType=VARCHAR},
        reserve_column04 = #{record.reserveColumn04,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.potato369.find.mbg.model.ApplicationRecord">
        update application_record
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="dynamicInfoId != null">
                dynamic_info_id = #{dynamicInfoId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reserveColumn01 != null">
                reserve_column01 = #{reserveColumn01,jdbcType=VARCHAR},
            </if>
            <if test="reserveColumn02 != null">
                reserve_column02 = #{reserveColumn02,jdbcType=VARCHAR},
            </if>
            <if test="reserveColumn03 != null">
                reserve_column03 = #{reserveColumn03,jdbcType=VARCHAR},
            </if>
            <if test="reserveColumn04 != null">
                reserve_column04 = #{reserveColumn04,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.potato369.find.mbg.model.ApplicationRecord">
        update application_record
        set user_id          = #{userId,jdbcType=BIGINT},
            dynamic_info_id  = #{dynamicInfoId,jdbcType=BIGINT},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            reserve_column01 = #{reserveColumn01,jdbcType=VARCHAR},
            reserve_column02 = #{reserveColumn02,jdbcType=VARCHAR},
            reserve_column03 = #{reserveColumn03,jdbcType=VARCHAR},
            reserve_column04 = #{reserveColumn04,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>